<div class="row">
    <div class="col-2 toggle">
        <img class="img-fluid mt-5" src="images/book1.png" />
    </div>

    <div class="col-8 toggle-show">
        <div class="row justify-content-center">
            <img class="img-fluid" src="images/head1-01.png" />
        </div>

        <div class="row position-relative justify-content-center">
            <img class="img-fluid" src="images/head2-01.png" />

            <div class="contacts_caption">
                <p class="h4">
                    info@infomir.ru
                    <br><br>+7 499 391 44 34
                    <br><br>+7 499 391 44 34
                    <br><br>
                </p>
            </div>
        </div>
    </div>

    <div class="col-2 toggle">
        <img class="img-fluid mt-5 float-right" src="images/book2.png"/>
    </div>
</div>
