<div id="greyline"></div>

<div class="row d-flex justify-content-center pt-3">
    <div class="col-8 d-flex justify-content-end">
        <button type="button" data-toggle="modal" data-target="#authModal" class="btn btn-outline-primary">Зарегистрироваться</button>
        <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-outline-success ml-3">Войти</button>
    </div>

    {{> authModal }}
    {{> loginModal }}
</div>

<div class="row pt-5">
    <div class="col-7 d-flex flex-column justify-content-center align-items-center">
        <img class="horizontal-tags" src="images/1_1.png" />

        <div class="caption">
            <p class="responsive-paragraph text-center">
                Компания ИнфоМир занимается народным образованием в области Информатики и ИКТ
            </p>
        </div>
    </div>

    <div class="col-5">
        <img class="responsive-image" src="images/1_2.png" />
    </div>
</div>

<hr>

<div class="row d-flex justify-content-center">
    <img class="main-image-1" src="images/2_1.png" />
</div>

<div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
        <h1 class="responsive-header-1">
            Наш опыт бесценен
        </h1>

        <h3 class="responsive-header-2">
            Только в России (и СССР) было изданы десятки наших учебников, пособий и энциклопедий тиражом более 10 млн. экземпляром
        </h3>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <img class="main-image-2" src="images/2_2.png" alt="" />
</div>

<hr>

<div class="row d-flex flex-row pb-5">
    <div class="header-container-1">
        <p class="responsive-header-main">
            Мы
        </p>
    </div>

    <div class="header-container-2">
        <img class="responsive-image-main" src="images/3_1.png">
    </div>
</div>

<div class="row pb-5">
    <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="images/3_2.svg" class="horizontal-tags">

        <img src="images/image_8.png" class="responsive-circle-images">
    </div>

    <div class="col-3 d-flex flex-column justify-content-center pl-5">
        <p class="h3 responsive-caption">
            занимаемся обучением Программированию детей
            и взрослых, проводим таргетированные
            авторские курсы
        </p>

        <hr class="style3">
    </div>

    <div class="col-3"></div>
</div>

<div class="row pb-5">
    <div class="col-3"></div>

    <div class="col-3 d-flex flex-column justify-content-end pr-5">
        <p class="h3 responsive-caption">
            осуществляем поддержку и сопровождение СПО КуМир
            и ПиктоМир, разрабатываем программное
            обеспечение для обучения на базе КуМир и ПиктоМир
        </p>

        <hr class="style3">

        <div class="row d-flex justify-content-center pt-3">
            <button onclick="dropdownAction('dropdown-1')" class="dropbtn"></button>
        </div>
    </div>

    <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="images/3_3.svg" class="horizontal-tags">

        <img src="images/image_9.png" class="responsive-circle-images">
    </div>
</div>

<div class="row dropdown-content responsive-main-paragraph pt-5 " id="dropdown-1">
    <div class="col-2"></div>

    <div class="col-4 px-3">
        <p class="h5 responsive-header-2">
            КуМир (Комплект Учебных МИРов)
        </p>

        <p>
            — система программирования, предназначенная для поддержки начальных
            курсов информатики и программирования в средней и высшей школе.
        </p>

        <p class="h5 responsive-header-2">
            Особенности системы КуМир
        </p>

        <p>
            В системе КуМир используется школьный алгоритмический язык с русской лексикой и встроенными исполнителями Робот и Чертёжник.
            При вводе программы КуМир постоянно осуществляет полный контроль ее правильности, сообщая на полях программы обо всех обнаруженных ошибках.
            При выполнении программы в пошаговом режиме КуМир выводит на поля результаты операций присваивания и значения логических выражений. Это позволяет ускорить процесс освоения азов программирования.
            Кумир работает в операционных системах Windows или Linux.
            Система Кумир разработана в ФГУ ФНЦ НИИСИ РАН по заказу Российской Академии Наук и распространяется свободно на условиях лицензии GNU 2.0*.
            *Данная лицензия разрешает вам или вашей организации  бессрочно использовать КуМир на любом количестве компьютеров в любых целях без оформления каких-либо дополнительных документов.
        </p>
    </div>

    <div class="col-4 px-3">
        <p class="h5 responsive-header-2">
            ПиктоМир
        </p>

        <p>
            — младший брат КуМира, свободно распространяемая программная система для изучения азов программирования дошкольниками и младшими школьниками.
            ПиктоМир позволяет ребенку "собрать" из пиктограмм на экране компьютера несложную программу, управляющую виртуальным исполнителем-роботом. ПиктоМир в первую очередь ориентирован на дошкольников, еще не умеющих писать или на младшеклассников, не очень любящих писать. При желании, ПиктоМир-программу можно сохранить в КуМире и продолжить работу над ней в КуМире.
        </p>
    </div>

    <div class="col-2"></div>
</div>

<div class="row py-5">
    <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="images/3_4.svg" class="horizontal-tags">

        <img src="images/image_10.png" class="responsive-circle-images">
    </div>

    <div class="col-3 d-flex flex-column justify-content-center pl-5">
        <p class="h3 responsive-caption">
            разрабатываем и производим роботов для уроков Информатики
        </p>

        <hr class="style3">

        <p class="responsive-main-paragraph">
            на нашем сайте вы можете приобрести комплекты для обучения
            основам алгоритмики в дошкольных учереждениях и дома, а так же
            фирменные мягкие игрушки
        </p>
    </div>

    <div class="col-3"></div>
</div>

<div class="row justify-content-center">
    <button onclick="dropdownActionStore('dropdown-3')" class="dropbtn-store"></button>
</div>

<hr>
