@media screen and (max-width: 1300px) {
    .toggle {
        display: none;
    }

    .toggle-show {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

body {
    font-family: 'EvolventaRegular';
    font-weight: normal;
    font-style: normal;
}

hr {
    border: solid 1px black;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 95%;
}

hr.style3 {
	border: 1px dashed black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    max-height: 100%;
}

button:focus {
    outline: none;
}

.col-4 h3 {
    display: block;
    padding-top: 10rem;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}

.dashed-border {
    width: 70%;
    height: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: black 1px dashed;
}

.dashed-border-full {
    width: 96%;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: black 1px dashed;
}

#greenline {
    background: #00bab5;
    position: absolute;
    top: 0;
    height: 412px;
    width: 100%;
    z-index: -1;
}

#greyline {
    background: #e6e6e6;
    position: absolute;
    height: 100%;
    width: 70%;
    left: 15%;
    z-index: -2;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col, .col-1, .col-2,
.col-3, .col-4, .col-5,
.col-6, .col-7, .col-8 {
    padding-left: 0;
    padding-right: 0;
}

.footer-1 {
    width: 65%;
}

.footer-2 {
    width: 85%;
}

.main-image-1 {
    width: 14vw;
    height: 14vw;
}

.main-image-2 {
    width: 8vw;
    height: 8vw;
}

.head1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/head1-01.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.head2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/head2-01.png');
    background-repeat: no-repeat;
    background-size: contain;
}



    /* Responsive views */
.horizontal-tags {
    position: relative;
    width: 100%;
    height: 100%;
}

.contacts_caption {
    position: absolute;
    right: 12%;
    left: 77%;
    width: 20%;
    top: 3.2rem;
}

.caption {
    position: absolute;
    width: 35%;
    height: 50%;
}

.responsive-paragraph {
    font-size: 1.4rem;
    font-size: 1.7vw;
}

.responsive-main-paragraph {
    font-size: 1vw;
}

.responsive-caption {
    font-size: 1.7rem;
    font-size: 1.6vw;
}

.responsive-header-1 {
    padding-top: 2rem;
    font-size: 2.2rem;
    font-size: 2.4vw;
}

.responsive-header-2 {
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
    font-size: 1.4vw;
}

.responsive-image {
    display: block;
    position: relative;
    top: 2rem;
    left: 5rem;
    width: 13rem;
    left: 6vw;
    width: 15vw;
}

.responsive-circle-images {
    position: absolute;
    width: 13rem;
    width: 16vw;
}


.responsive-header-main {
    position: absolute;
    right: 1vw;
    top: 5vw;
    font-size: 5vw;
}

.responsive-image-main {
    width: 14vw;
}

.responsive-icons {
    width: 1vw;
    height: 1vw;
}

.header-container-1 {
    position: relative;
    width: 35%;
    height: 12vw;
}

.header-container-2 {
    width: 25%;
    height: 12vw;
}






    /* Dropdowns */
.dropbtn {
    background: transparent url("../images/down.svg") no-repeat;
    left: 100%;
    width: 4rem;
    /*height: 2rem;*/
    width: 3vw;
    height: 2vw;
    border: none;
}

.dropbtn-store {
    background: transparent url("../images/ddown.svg") no-repeat;
    left: 100%;
    width: 4rem;
    /*height: 2rem;*/
    width: 7vw;
    height: 3vw;
    border: none;
}

.dropbtn:focus,
.button-1:focus,
.button-2:focus {
    outline: none;
}

.dropdown-content {
    display: none;
    margin-top: 1rem;
}

.dropdown-content-store {
    display: none;
    margin-top: 1rem;
}

.show {
    display: flex;
}

.show-store {
    display: block;
}

#dropdown-2 {
    margin-top: -5rem;
}





    /* Shopping cart */
.product-title {
    font-size: 1vw;
}

.product-description {
    font-size: 1.3vw;
}

.product-body {
    font-size: 1vw;
}

.checkbox-style {
    min-width: 36px;
    font-size: 1vw;
    width: 2.5vw;
    height: 2.7vw;
    margin-right: 0.4vw;
}

.cart-header {
    font-size: 1.9vw;
}

.cart-body {
    font-size: 1.2vw;
}

.button-1 {
    background: transparent url("../images/button_vkor.svg") no-repeat;
    border: none;
    width: 13.5vw;
    height: 2.7vw;
    margin-left: 0.4vw;
}

.button-2 {
    background: url("../images/mark_down.svg") no-repeat;
    width: 5.5vw;
    height: 2.7vw;
}

.list-group-item {
    background-color: transparent;
    width: 100%;
}

.vertun-style {
    width: 13rem;
    width: 19.8vw;
}

.vertun-caption {
    position: absolute;
    width: 45%;
    height: 75%;
    font-size: 0.9vw;
}

.vertun-header {
    font-size: 1.2vw;
}

.vertun-price-1 {
    font-size: 1.6vw;
    text-decoration: line-through;
    margin-top: -1rem;
}

.vertun-price-2 {
    font-size: 2.4vw;
    margin-bottom: 0;
    margin-top: 3rem;
}

.vertun-age {
    display: inline;
    float: right;
    margin-top: 1rem;
    width: 18%;
}

.modalBtn {
    background: transparent url("../images/button_green.svg") no-repeat;
    border: none;
    width: 13.5vw;
    height: 2.7vw;
    font-size: 1.4vw;
    margin-top: 1rem;
    margin-right: 15px;
}

.piktomir-header-1 {
    font-size: 2vw;
}

.piktomir-header-2 {
    font-size: 1.5vw;
}

.form-check-input {
    margin-top: 0.4em;
}

.list-group-item {
    padding-left: 0;
    padding-right: 2vw;
}

#hidden-cart-item {
    display: none !important;
}

.hidden-cart-total {
    display: none !important;
}